*,
*:before,
*::after{
    box-sizing: border-box;
}
:root{
    --base-color: #333;
    --black: #000;
    --gray: #E5E5E5;
    --white: #fff;
    --pink: #F13C6E;
    --hover-color: var(--pink);
    --speed: 0.8s;
    --button-color: var(--black);
    --button-background: var(--white);
    --button-border-color: var(--pink);
    --header-bar-color: var(--gray);
}
body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--base-color);
    background: var(--gray);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
.header-panel {
   padding: 16px 0;
   background: var(--gray);
   font-size: 14px;
   line-height: 16px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu a {
    color: var(--base-color);
    text-decoration: none;
    transition: color var(--speed);
}
.menu a:hover {
    color: var(--hover-color);
}
.menu > li {
    display: inline-block;
    padding: 0 15px;
}
.header-main {
    background: var(--white);
    padding: 20px 0;
}
.header-main .container {
    overflow: hidden;
}
.logo {
    float: left;
    padding: 0 0 0 30px;
}
.header-main_box {
    float: right;
    padding: 23px 0;
}
.tel {
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
    margin: 0 40px 0 0;
}
.tel:hover {
    color: var(--hover-color);
}
.header-main_box .btn {
    vertical-align: middle;
}
.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 27px;
    color: var(--button-color);
    background: var(--button-background);
    text-decoration: none;
    border: 2px solid var(--button-border-color);
    border-radius: 40px;
    transition: var(--speed);
}
.btn:hover {
    background: var(--button-border-color);
}
.header-bar {
    font-size: 16px;
    line-height: 18px;
    padding: 25px 0;
    background: var(--white);
    border-top: 1px solid var(--header-bar-color);
}
.stock {
    background: url(../images/pink_img.svg);
    width: 1920px;
    min-height: 604px;
    padding: 170px 0 100px ;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
}
.stock h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--white);
}
.pinck {
    margin: 30px 0 0 0;
    padding: 10px 45px;
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--white);
}
.pinck:hover {
    background: var(--pink);
}
.special {
    padding: 70px 0 20px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
.cards {
    padding: 0;
    margin: 0 -15px;
    list-style: none;
    vertical-align: top;
    overflow: hidden;
}
.cards > li {
    margin: 0; 
    padding: 0 15px;
    width: 25%;
    float: left;
} 
.card {
    background: white;
}    
h3 > a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--black);
}
.card_visual {
    padding: 15px 0 5px 0;
    text-align: center;
    display: block;
}
.card_content {
    padding: 0 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.price {
    font-weight: 500;
    font-size: 21px;
}
.small {
    padding: 10px 45px;
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--white);
    border-radius: 30px;
}
.small:hover {
    background: var(--pink);
}
.email-map {
   overflow: hidden;
   padding: 100px 20px;
   color: var(--white);
}
.email_map h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}
.email_map p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.email { 
    width: 540px;
    padding: 35px 20px;
    float: left;
    background: var(--pink);
}
.email_content {
    float: left;
    padding: 0 0 0 20px;
}
.email_visual {
    float: right;
    padding: 20px 20px;
}   
.map {
    width: 540px;
    padding: 35px 20px;
    float: right;
    background: var(--pink);
}
.map_content {
    float: left;
    padding: 0 0 0 20px;
}
.big {
    padding: 7px 25px;
    color: var(--white);
    background: var(--pink);
    border: 2px solid var(--white);
    border-radius: 30px;
}
.big:hover {
    background: var(--pink);
}
.map_visual {
    float: right;
    padding: 20px 20px;
}
.box-link {
    padding: 0;
    margin: 0;
    background: white;
    list-style: none;
    text-align: center;
}
.box-link > li {
    padding: 35px 60px;
    margin: -3;
    border: 1px solid #EFEFEF;
    display: inline-block;
}
.box-link a {
    text-decoration: none;
}
.box-link > a:hover {
    background: var(--white);
}
.whoch {
    padding: 50px 0 30px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}
