:root{
    --base-color: #333;
    --black: #000;
    --gray: #E5E5E5;
    --white: #fff;
    --pink: #F13C6E;
    --hover-color: var(--pink);
    --speed: 0.8s;
    --button-color: var(--black);
    --button-background: var(--white);
    --button-border-color: var(--pink);
    --header-bar-color: var(--gray);
}

body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--base-color);
    background: var(--gray);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

.header-panel {
   padding: 16px 0;
   background: var(--gray);
   font-size: 14px;
   line-height: 16px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu a {
    color: var(--base-color);
    text-decoration: none;
    transition: color var(--speed);
}

.menu a:hover {
    color: var(--hover-color);
}

.menu > li {
    display: inline-block;
    padding: 0 15px;
}

.header-main {
    background: var(--white);
    padding: 20px 0;
}

.header-main .container {
    overflow: hidden;
}

.logo {
    float: left;
    padding: 0 0 0 30px;
}

.header-main_box {
    float: right;
    padding: 23px 0;
}

.tel {
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
    margin: 0 40px 0 0;
}

.tel:hover {
    color: var(--hover-color);
}

.header-main_box .btn {
    vertical-align: middle;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 27px;
    color: var(--button-color);
    background: var(--button-background);
    text-decoration: none;
    border: 2px solid var(--button-border-color);
    border-radius: 50px;
    transition: var(--speed);
}

.btn:hover {
    background: var(--button-border-color);
}

.header-bar {
    font-size: 16px;
    line-height: 18px;
    padding: 25px 0;
    background: var(--white);
    border-top: 1px solid var(--header-bar-color);
}

.stock {
    background: url(../images/pink_img.svg);
    width: 1920px;
    height: 604px;
}

.main-box {
    padding: 170px 0 0 60px;
}

.main-box h1 {
    padding: 0 0 0 0;
   font-weight: 700;
   font-size: 48px;
   line-height: 56px;
   color: var(--white);
}

.main-box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
}

.btn2 {
    margin: 30px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    padding: 10px 45px;
    color: var(--white);
    background: var(--pink);
    text-decoration: none;
    border: 2px solid var(--white);
    border-radius: 50px;
    transition: var(--speed);
}

.btn2:hover {
    background: var(--pink);
}
.special {
    padding: 60px;
    font-size: 24px;
    font-weight: 700;
    
    line-height: 28px;
}


